---
const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} awurorawr. All rights reserved.</p>
</footer>
<style>
  footer {
    color: var(--fg);
    text-align: center;
  }
</style>
